@model lab6.Models.User

<h2>Деталі користувача</h2>

<div>
    <p><strong>Ім'я:</strong> @Model.FirstName</p>
    <p><strong>Прізвище:</strong> @Model.LastName</p>
    <p><strong>Електронна пошта:</strong> @Model.Email</p>
    <p><strong>Номер телефону:</strong> @Model.PhoneNumber</p> <!-- Відображення телефону -->
    <p><strong>Дата реєстрації:</strong> @Model.RegistrationDate.ToShortDateString()</p>
</div>

<a href="@Url.Action("Index", "User")">Повернутись до списку</a>
